!= partial( "../_blocks/_nav" )
block edit
  h1(data-bind="defaultModelName | prepend 'Edit a '")
  form#batmanModel(data-bind-data-formfor-instance='defaultModelNameSingular', data-event-submit="update")
    div
    block properties