include ../_blocks/_nav
block new
  h1(data-bind="defaultModelName | prepend 'Create a '", data-event-doubleclick="autofillAll")
  form(data-formfor-instance='instance', data-event-submit="create")
    block properties