div#teaching_controls
  .date
    .number 31
    .name Sunday
  ul.articles
    li
      a.daily_routine(href="#")
        .swatch
        .article_name Daily Routine
        .article_time 45 min.
    li
      a.reading_comprehension(href="#")
        .swatch
        .article_name Reading Comprehension
        .article_time 30 min.
    li
      a.grammar(href="#")
        .swatch
        .article_name Grammar
        .article_time 35 min.
    li
      a.composition(href="#")
        .swatch
        .article_name Composition
        .article_time 25 min.
    li.active
      a.spelling(href="#")
        .swatch
        .article_name Spelling
        .article_time 35 min.
    li
      a.language_arts(href="#")
        .swatch
        .article_name Language Arts
        .article_time 50 min.
    li
      a.history(href="#")
        .swatch
        .article_name History
        .article_time 35 min.
    li
      a.science(href="#")
        .swatch
        .article_name Science
        .article_time 55 min.
    li
      a.mathematics(href="#")
        .swatch
        .article_name Mathematics
        .article_time 35 min.
    li
      a.vocabulary(href="#")
        .swatch
        .article_name Vocabulary
        .article_time 35 min.
    li
      a.social_studies(href="#")
        .swatch
        .article_name Social Studies
        .article_time 35 min.
    li
      a.memory_work(href="#")
        .swatch
        .article_name Memory Work
        .article_time 35 min.
