extends ../_blocks/_new
block properties
  div
    label(data-event-click="autofill")
      span Title
      input(type='text', data-bind='instance.title', placeholder="North Park Bikes")
  div(data-view="cameraView", class="camera_container")
    include ../_blocks/_camera
  div.project_picture
    img(data-bind-src="cameraView.instance.picture", data-showif="cameraView.instance.picture")
    img(src="../../img/silhouette.png", data-hideif="cameraView.instance.picture")
  h2
    input( type="text", name="knowHow", placeholder="Search store by title", data-event-keyup="storeFilter" )
    input( type="button", value="reset", data-event-click="resetStoreSearch"  )
  input(value='Submit', type='submit')

block after_properties
  ul#storesAdded
    li( data-foreach-store="instance.stores", class="index", data-bind-title="store.id" )
      img( data-bind-src="store.picture_thumb" )
      span( data-bind="store.title", class="title" )
      a( data-bind-click="removeStoreAsParent" ) Remove
  ul#storesToAdd
    li( data-foreach-store="storesList", class="index", data-bind-title="store.id" )
      img( data-bind-src="store.picture_thumb" )
      span( data-bind="store.title", class="title" )
      span( class="addStore" ) Add