ul#instances
  li
    text-align left
    height 120px
    .image_mask
      border-radius 40px
      height 80px
      width 80px
      overflow hidden
      float left
      img
        width auto
        height 100%
    padding-top 18px
    padding-bottom 24px
    a
      margin-left: 12px
      width: 120px
    div.main_metadata, div.actions
      display inline-block 
    div.actions
      float right
    div.main_metadata
      float left
      text-align left
      padding 0 0 0 12px      
    div.user_email, div.location_name, div.created
      font-size 16px
    span.view
      width 20%
    div.title
      text-transform uppercase
    span.ordinal
      margin-right: 8px
    
div#details
  width 740px
  margin 0px auto
  height 720px
  div#body_container
    text-align left
    width 400px
    float left
    overflow auto
  div#other_container
    float right
    width 300px
    div.map
      height 360px
      #map
        height: 360px
        .leaflet-popup-content
          strong
            color black
            font 12px base_font_family
    div#picture
      height 360px
      overflow hidden
      img
        width 100%


form div.text_control 
  padding 12px
  input[type=text], textarea
    width 300px
  textarea
    height 48px
  label span
    width 100px
    display: inline-block
    text-align: left

div.post_picture
  width 408px
  overflow hidden
  margin 0px auto
  position relative
  img
    width 100%            
  button.camera, div.camera
    z-index 1000
    position absolute
    height: 60px
    width: 60px
    border-radius: 2px
    box-shadow:inset 0 1px 0 rgba(255,255,255,0.5)
    font-family: base_font_family
    top 180px
    left 180px
    background: url(/img/camera.png) no-repeat 14px 14px, linear-gradient(top, #fff, #f2f2f2)
    border-color: #e1e1e1

p#post
  margin-bottom -40px
  font-style italic
  color #ccc

div#container
  height 600px
  overflow hidden
  position relative

div#ulContainer
  height 600px
  overflow scroll
  position relative

div#ulContainerMask, div#ulContainerMaskTop
  position absolute
  width 100%
  z-index 100

div#ulContainerMask
  background: linear-gradient(top, rgba(0,0,0,0), rgba(0,0,0,1))
  top 460px
  height 140px

div#ulContainerMaskTop
  background: linear-gradient(bottom, rgba(0,0,0,0), rgba(0,0,0,1))
  top 0px
  height 20px
