extends ../_blocks/_new
block properties
  div
    label Title
      input(type='text', data-bind='instance.title')
  br
  div
    label body
      textarea(data-bind='instance.body')
  br
  div.project_picture
    img(data-bind-src="cameraView.instance.picture", data-showif="cameraView.instance.picture")
    img(src="../../img/silhouette.png", data-hideif="cameraView.instance.picture")
  div(data-view="cameraView")
    != partial('../_blocks/_camera')

  input(value='Submit', type='submit')