extends ../_blocks/_show
block properties
  div.project_picture
    img(data-bind-src="instance.picture", data-showif="instance.picture_medium")
  div
    label
      span Title
      div.modelValueInlineContainer
        span.modelValue(type='text', data-bind='instance.title')
  div
    label
      span Description
      div.modelValueInlineContainer
        span.modelValue(data-bind='instance.description')
  div
    label
      span Website
      div.modelValueInlineContainer
        span.modelValue(data-bind='instance.website', type="text")
  div
    label
      span Phone
      div.modelValueInlineContainer
        span.modelValue(data-bind='instance.phone', type="text")
  div
    label
      span Address
      div.modelValueInlineContainer
        span.modelValueInline(data-bind='instance.street', type="text")
        span.modelValueInline &nbsp;
        br
        span.modelValueInline(data-bind='instance.city', type="text")
        span.modelValueInline ,
        span.modelValueInline(data-bind='instance.state', type="text")
        span.modelValueInline &nbsp;
        span.modelValueInline(data-bind='instance.zip', type="text")
  div#other_container
    div.map
      div#map
  div
    label
      span Added by
      div.modelValueInlineContainer
        span.modelValue(data-bind='instance.user.email', type="text")