extends ../_blocks/_show
block properties
  #project( data-context="instance")
    p#project Current viewing project:
    h1( data-bind="title" )
    p
      img(data-bind-src="instance.picture_medium")
    h2 Details
    ul
      li( data-bind="body", class="index" )
