@font-face
    font-family: 'BaseTwelveMedium'
    src: url('../fonts/basetwelvesans-webfont.eot')
    src: url('../fonts/basetwelvesans-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/basetwelvesans-webfont.woff') format('woff'),
         url('../fonts/basetwelvesans-webfont.ttf') format('truetype'),
         url('../fonts/basetwelvesans-webfont.svg#BaseTwelveMedium') format('svg')
    font-weight: normal
    font-style: normal

@font-face
    font-family: 'BaseTwelveMedium'
    src: url('../fonts/basetwelvesansb-webfont.eot')
    src: url('../fonts/basetwelvesansb-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/basetwelvesansb-webfont.woff') format('woff'),
         url('../fonts/basetwelvesansb-webfont.ttf') format('truetype'),
         url('../fonts/basetwelvesansb-webfont.svg#BaseTwelveMedium') format('svg')
    font-weight: bold
    font-style: normal

@font-face
    font-family: 'BaseTwelveMedium'
    src: url('../fonts/basetwelvesansbi-webfont.eot')
    src: url('../fonts/basetwelvesansbi-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/basetwelvesansbi-webfont.woff') format('woff'),
         url('../fonts/basetwelvesansbi-webfont.ttf') format('truetype'),
         url('../fonts/basetwelvesansbi-webfont.svg#BaseTwelveMedium') format('svg')
    font-weight: bold
    font-style: italic

@font-face
    font-family: 'BaseTwelveMedium'
    src: url('../fonts/basetwelvesansi-webfont.eot')
    src: url('../fonts/basetwelvesansi-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/basetwelvesansi-webfont.woff') format('woff'),
         url('../fonts/basetwelvesansi-webfont.ttf') format('truetype'),
         url('../fonts/basetwelvesansi-webfont.svg#BaseTwelveMedium') format('svg')
    font-weight: normal
    font-style: italic
