extends ../_blocks/_index
block index_main
  div#formContainer
    h2(data-bind="Login")
    form(data-formfor-instance='user', data-event-submit="handleUser", data-showif="showLoginForm")
      div(id="loginForm")
        label
          span Email
          input(type="email", autofocus="true", required="required", placeholder="foo@bar.quux", id="emailField")
        label
          span Password
          input(type="password", required="required", id="passwordField")
        label
          span Register?
          input(type="checkbox", id="registeringSwitch")
        input(type="submit", value="Submit")
    p(id="login_status", data-hideif="registering", data-bind="loginStatus")
    p(id="registration_status", data-showif="registering", data-bind="registrationStatus")