extends ../_blocks/_index
block list-item
  div#formContainer
    h1(data-bind="Login")
    form(data-formfor-instance='user', data-event-submit="loginForm.handleUser", data-showif="loginForm.showLoginForm")
      block properties
      div(data-view="loginForm", id="loginForm")
        label
          span Email
          input(type="email", autofocus="true", required="required", placeholder="foo@bar.quux", id="emailField")
        label
          span Password
          input(type="password", required="required", id="passwordField")
        label
          span Register?
          input(type="checkbox", checked="", id="registeringSwitch")
        input(type="submit", value="Submit")
    p(id="login_status", data-hideif="loginForm.registering" data-bind="loginForm.loginStatus")
    p(id="registration_status", data-showif="loginForm.registering", data-bind="loginForm.registrationStatus")